 * {
     padding: 0px;
     margin: 0px;
     box-sizing: border-box;
     -moz-box-sizing: border-box;
 }
 
 a {
     transition: all 0.5s ease;
     -webkit-transition: all 0.5s ease;
     -moz-transition: all 0.5s ease;
 }
 
 img {
     max-width: 100%;
 }

 .video-container {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%; 
    overflow: hidden;
  }
  .video-container video {
    /* Make video to at least 100% wide and tall */
    min-width: 100%; 
    min-height: 100%; 
  
    /* Setting width & height to auto prevents the browser from stretching or squishing the video */

  
    /* Center the video */
    position: absolute;
    top: 1%;
    left: 1%;
    transform: translate(-1%,-1%);
  }

 @font-face {
    font-family: 'futuraheavy';
    src: url('../fonts/futura_heavy_font-webfont.woff2') format('woff2'),
         url('../fonts/futura_heavy_font-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_promedium';
    src: url('../fonts/gtwalsheimpro-medium-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimpro-medium-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}




@font-face {
    font-family: 'gt_walsheim_proregular';
    src: url('../fonts/gtwalsheimpro-regular-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimpro-regular-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}


@font-face {
    font-family: 'gt_walsheim_proitalic';
    src: url('../fonts/gtwalsheimpro-regularoblique-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimpro-regularoblique-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

} 

@font-face {
    font-family: 'gt_walsheim_problack';
    src: url('../fonts/gtwalsheimpro-black-webfont.woff2') format('woff2'),
         url('../fonts/gtwalsheimpro-black-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'field_gothicno.61_light';
  src: url('../fonts/app/light-webfont.woff2') format('woff2'),
       url('../fonts/app/light-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'field_gothicno.83_med_xwide';
  src: url('../fonts/app/medium-webfont.woff2') format('woff2'),
       url('../fonts/app/medium-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'field_gothicno.41_light_cond';
  src: url('../fonts/app/light-yes-41-webfont.woff2') format('woff2'),
       url('../fonts/app/light-yes-41-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

@font-face {
  font-family: 'field_gothicno.52_reg_compact';
  src: url('../fonts/app/reg-compact-52-webfont.woff2') format('woff2'),
       url('../fonts/app/reg-compact-52-webfont.woff') format('woff');
  font-weight: normal;
  font-style: normal;

}

body{
    background: transparent;
    font-family: 'field_gothicno.52_reg_compact' !important;
}
 h1,
 h2,
 h3,
 h4,
 h5,
 h6 {
     font-weight: normal;
     margin: 0px;
 }
 
 p {
     font-weight: normal;
     margin: 0px;
     color: #666666;
     font-size: 14px;
     line-height: 24px;
 }
 
 a {
     transition: all 0.5s ease 0s;
     -moz-transition: all 0.5s ease 0s;
     -webkit-transition: all 0.5s ease 0s;
 }

/*****************************menu btn******************************/

.video-sound {
  width: 50px;
  height: 50px;
  background-color: transparent;
  z-index: 99;
  position: absolute;
  top: 20px;
  left: 20px;
}
.video-sound span{
  color: #fff;
  font-size: 30px;
}

.menu-btn-custom {
  position: relative;
  top: 0px;
  right: 3px;
  width: 38px;
  height: 38px;
  cursor: pointer;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-group {
  position: absolute;
  right: 0px;
  top: 0px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-group.mbg-2 {
  top: 12px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-group.mbg-3 {
  top: 24px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-group.mbg-3 .menu-bar-custom-1 {
  width: 40px;
  top: 16px;
  right: -10px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-group.mbg-3 .menu-bar-custom-2 {
  width: 40px;
  top: 19px;
  right: 9px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-group.mbg-3 .menu-bar-custom-3 {
  top: 36px;
  right: -4px;
  width: 40px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

.menu-btn-custom.active .menu-bar-custom-1 {
  width: 37px;
  height: 5px;
  background: transparent;
  transform: rotate(-8deg);
  position: absolute;
  top: 3px;
  right: 0px;
  border: 1px solid #fff;
  border-bottom: 0px;
  border-radius: 0px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-custom.active .menu-bar-custom-2 {
  width: 5px;
  height: 1px;
  background: transparent;
  transform: rotate(-86deg);
  position: absolute;
  top: 9px;
  right: 34px;
  border: 1px solid #fff;
  border-bottom: 0px;
  border-radius: 4px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-custom.active .menu-bar-custom-3 {
  width: 37px;
  height: 1px;
  background: #fff;
  transform: rotate(-8deg);
  position: absolute;
  top: 8px;
  right: 0px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.close-menu-btn {
  height: 50px;
  width: 50px;
  background: transparent;
  position: absolute;
  top: -6px;
  right: -3px;
  z-index: 9;
  display: none;
  cursor: pointer;
}
.menu-btn-custom.active.open .menu-btn-group{
  right: 28px;
  transform: rotate(-62deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-custom.active.open .menu-btn-group.mbg-2 {
  top: 2px;
  right: 24px;
  transform: rotate(-121deg);
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}
.menu-btn-custom.active.open .menu-btn-group.mbg-3 {
  top: 30px;
  transform: rotate(-3deg);
  right: -2px;
  transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -webkit-transition: all 0.5s ease;
}

/*****************************menu btn******************************/

 .menu-icon.rotate {
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transform: rotate(180deg);
  }
  .hide-menu.rotate {
    transition: 0.5s all ease;
    -moz-transition: 0.5s all ease;
    -webkit-transition: 0.5s all ease;
    transform: rotate(180deg);
  }

 .menu-btn-outer {
    position: absolute;
    right: 14px;
    z-index: 999;
    top: 14px;
  }
  .hide-menu{
    display: none;
  }
  .menu-icon {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 40px;
    height: 40px;
  }
  .hide-menu {
    position: absolute;
    top: 0px;
    right: 2px;
    z-index: 9999;
    width: 40px;
    height: 39px;
  }
 
 #wrapper {
     width: 1170px;
     margin: auto;
     max-width: 100%;
 }
 
 .pop-up-bg{
    /* background: url(../images/first-page.jpg) no-repeat; */
    background-color: #000;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-size: cover;
    background-position: center bottom;
 }
 .yes-no-bg{
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background: rgb(52,0,58);
    background: linear-gradient(90deg, rgba(52,0,58,1) 0%, rgba(111,0,118,1) 100%);
 }
 .menu-bg{
    background: url(../images/menu-bg.jpg) no-repeat;
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-size: cover;
    background-color: #000;
 }
 .menu-bg.page-1{
    background: url(../images/page-1-bg.jpg) no-repeat;
    background-size: cover;
 }
 .menu-bg.page-2{
    background: url(../images/page-2-bg.jpg) no-repeat;
    background-size: cover;
 }
 .menu-bg.page-3{
    background: url(../images/page-3-bg.jpg) no-repeat;
    background-size: cover;
 }

 .home-bg{
    background: url(../images/main-bg.jpg) no-repeat;
    height: 100%;
    width: 100%;
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 0;
    background-size: cover;
    background-position: center;
 }
 header{
    position: relative;
    z-index: 1;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 23px 20px;
 }
 .right-header {
    display: flex;
    align-items: center;
}
.lanu-options {
    display: flex;
    align-items: center;
    margin: 0px 30px;
    margin-left: 0px;
}
.sound-icon {
    height: 24px;
}
.sound-icon span{
    color: #fff;
}
.sound-icon .stopIcon{
    display: none;
}
.sound-icon.active .stopIcon{
    display: block;
}
.sound-icon.active .playIcon{
    display: none;
}
.logo-img {
    width: 90px;
  }
.menu-text{
    cursor: pointer;
}
.custom-menu-btn {
    width: 37px;
    height: 6px;
    border: 1px solid #fff;
    position: relative;
    transform: rotate(-9deg);
}
.custom-menu-btn::after {
    width: 37px;
    height: 6px;
    border: 1px solid #fff;
    position: absolute;
    transform: rotate(0deg);
    content: "";
    top: 10px;
    left: -2px;
}
.custom-menu-btn::before {
    width: 37px;
    height: 6px;
    border: 1px solid #fff;
    position: absolute;
    transform: rotate(0deg);
    content: "";
    top: 21px;
    left: -3px;
}

.lanu-options p{
    color: #fff;
}
.lanu-options span{
    color: #fff;
    display: inline-block;
    margin: 0px 8px;
}
.pz{
    position: relative;
    z-index: 1;
}

.pop-up-video{
    width: 100%;
    display: inline-block;
    padding: 0px 20px;
    height: calc(100vh - 102px);
    position: relative;
    margin-top: 40px;
    max-width: 400px;
}
.pop-up-video-close-btn{
    display: flex;
    width: 100%;
    justify-content: flex-end;
    margin-bottom: 15px;
}
.pop-up-video-close-btn a{
    display: flex;
    text-decoration: none;
}
.pop-up-video-close-btn p{
    color: #fff;
}
.pop-up-video-close-btn span{
    color: #fff;
}
.pop-up-video-content{
    display: inline-block;
    width: 100%;
    position: relative;
}
.pop-up-video-content span{
    position: absolute;
    left: 0px;
    top: 0px;
    right: 0px;
    bottom: 0px;
    margin: auto;
    width: 48px;
    height: 48px;
    color: #fff;
    font-size: 48px;
}
.pop-up-video-content img{
    width: 100%;
    display: inline-block;
}
.images {
    width: 100%;
    height: 100%;
}
.img-zoom-container{
    float: left;
    width: 100%;
    overflow: hidden;
    height: calc(100vh - 104px);
    display: flex;
    padding: 0px 0px;
    align-items: end;
}
.view-360-container{
    float: left;
    width: 100%;
    overflow: hidden;
}
.inner-slider {
    max-width: 100%;
    width: 100%;
    display: inline-block;
}
.z-index{
  z-index: 9999;
}
.inner-slider .carousel{
    padding: 0px;
    display: inline-block;
}
figure.containerZoom{
    border: none;
    box-shadow: none;
}
.view-360 {
    position: absolute;
    z-index: 2;
    left: 20px;
    bottom: 20px;
}
.view-360 img {
    width: auto !important;
    height: auto !important;
}
.image-container {
    align-items: center;
    justify-content: center;
    display: flex;
    margin: auto;
}
.view-outer {
    position: absolute;
    width: 100%;
    bottom: 50px;
}
div#view_overlay {
    top: 0px !important;
    left: 0px !important;
}
.click-style {
    position: absolute;
    left: -84px;
    right: 0px;
    margin: auto;
    width: 25px;
    height: 25px;
    top: 120px;
    z-index: 99;
    background: transparent;
    border: 2px solid #fff;
    border-radius: 100%;
  }

.click-style.slide1-d1 {
    left: -118px;
    top: 139px;
}
.click-style.slide2-d1 {
    left: -118px;
    top: 139px;
}
.click-style.slide2-d2 {
    left: -136px;
    bottom: 114px;
  }
  .click-style.slide3-d3 {
    bottom: 175px;
    left: -112px;
  }
  .click-style.slide3-d2 {
    left: 1px;
    top: 174px;
  }
  .click-style.slide3-d1 {
    left: 87px;
    top: 103px;
  }
  .click-style.slide4-d3 {
  bottom: 1px;
  left: -74px;
}
.click-style.slide4-d2 {
    top: 104px;
    left: 14px;
  }
  .click-style.slide4-d1 {
    left: -87px;
    top: 180px;
  }
  .click-style.slide5-d4 {
    bottom: -127px;
    left: -73px;
  }
  .click-style.slide5-d3 {
    bottom: 66px;
    left: -81px;
  }
  .click-style.slide5-d2 {
    left: -180px;
    top: 155px;
  }
  .click-style.slide5-d1 {
    left: 69px;
    top: 102px;
  }

#bottom-details {
    bottom: 336px;
  }
  #slide2-d2 {
    bottom: 50px;
  }
  #slide2-d1 {
    bottom: 129px;
  }
  #slide3-d3 {
    bottom: 400px;
  }
  #slide4-d3 {
    bottom: 317px;
  }
  #slide5-d3 {
    bottom: 340px;
  }
  #slide5-d4 {
    bottom: 340px;
  }
.detail-pop {
    position: absolute;
    left: 0px;
    right: 0px;
    max-width: 390px;
    width: 75%;
    z-index: 2;
    border-bottom: 5px solid #D7EA26;
    background: rgb(58,12,68);
    background: linear-gradient(90deg, rgba(58,12,68,1) 0%, rgba(172,1,182,1) 100%);
    margin: auto;
    padding: 22px;
    bottom: 115px;
    display: none;
    z-index: 9;
}
.carousel-control-prev-icon {
  background-image: url("../images/arrow-right.png");
  background-size: contain;
  opacity: 0.6;
}
.carousel-control-prev-icon:hover{
  opacity: 1;
}
.carousel-control-next-icon{
  background-image: url("../images/arrow-left.png");
  background-size: contain;
  opacity: 0.6;
}
.carousel-control-next-icon:hover{
  opacity: 1;
}
.detail-pop h2{
    color: #fff;
    font-size: 18px;
    text-transform: uppercase;
    font-weight: 600;
    margin-bottom: 10px;
}
.detail-pop p{
    color: #fff;
    font-size: 14px;
}
.detail-pop-close {
    position: absolute;
    right: 10px;
    top: 10px;
}
.detail-pop.slider5-pop3 {
    bottom: 45px;
}
.menu-header {
    padding: 0px 20px;
    text-align: center;
    position: relative;
    width: 100%;
    display: inline-block;
    margin-top: 90px;
}
.menu-header img {
    width: 245px;
}
img.menu-back {
    position: absolute;
    left: 20px;
    top: 3px;
}
.menu-ul {
    display: inline-block;
    width: 100%;
    margin-top: 20px;
}
.menu-ul ul {
    display: inline-block;
    width: 100%;
    margin: 0px;
    padding: 0px;
}
.menu-ul ul li{
    display: inline-block;
    width: 100%;
}
.menu-ul ul li a{
    display: inline-block;
    width: 100%;
    color: #fff;
    text-align: center;
    padding: 18px 0px;
    font-size: 20px;
    text-transform: uppercase;
    position: relative;
}
.rd {
    position: relative;
    top: -10px;
  }
.text {
    display: inline-block;
    width: 100%;
    text-align: center;
    padding: 0px 30px;
    margin-top: 50px;
    margin-bottom: 80px;
}
.text p{
    color: #fff;
    font-size: 16px;
    line-height: 31px;
}
.d-inline{
  display: inline-block !important;
}
.mt-30{
    margin-top: 30px !important;
}
.mt-40{
    margin-top: 40px !important;
}
.mt-90{
  margin-top: 90px !important;
}
.mb-30{
    margin-bottom: 30px !important;
}
.w-300{
    width: 300px;
}

section#main {
	width: 100%;
	height: auto;
	position: relative;
	margin: 40px 0;
}

section#main >.inner {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
	padding: 40px;
	background-color: #f9f9f9;
	border-radius: 10px;
}

.btn {
	display: inline-block;
	text-decoration: none;
	background-color: black;
	color: white;
	padding: 10px 15px;
	border-radius: 3px;
	transition: all 200ms ease-in-out;
}

.btn:hover, .btn:focus {
	background-color: #333;
	color: white;
	text-decoration: none;
}

figure {
	border: white solid 10px;
	box-shadow: 0 0 15px #0000006b;
}

code {
	display: block;
	background-color: #333;
	border-radius: 3px;
	border: white dashed 2px;
	color: #ddd;
	padding: 10px;
	margin: 20px 0;
}

footer {
	width: 100%;
	background-color: black;
	padding: 20px 40px;
}
.footer.footer-page ul{
  display: inline-block;
  width: 100%;
  text-align: left;
  padding: 0px 2%;
  margin-bottom: 0px;
}
.footer.footer-page ul li {
  display: inline-block;
  vertical-align: middle;
}
.footer.footer-page ul li a {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
}
.footer.footer-page ul li span {
  display: inline-block;
  vertical-align: middle;
  color: #fff;
  font-size: 12px;
  margin: 0px 8px;
}
.pz.footer-btm-fixed {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 85px);
  justify-content: space-between;
}

footer p span {
	color: tomato;
}
.background-remove{
    background: transparent !important;
}
.start {
    position: absolute;
    z-index: 2;
    left: 0px;
    right: 0px;
    width: 100%;
    text-align: center;
    bottom: 44px;
}
.start a {
    display: inline-block;
}
.start img {
    width: 200px;
}
.footer p{
    color: #fff;
    font-size: 11px;
    margin-top: 0px;
    padding: 0px 2%;
    text-align: left;
}
.bx-wrapper {
    box-shadow: none;
    border: none;
    background: transparent;
    padding: 0px;
}
.bx-wrapper img {
    max-width: 600px;
    display: inline-block !important;
}
.bx-viewport div {
    text-align: center;
}
.bx-viewport div a {
    display: inline-block;
}
.bx-pager {
    display: none;
}
.bx-wrapper .bx-prev{
    background: url(../images/arrow-left.png) no-repeat;
    width: 44px;
    height: 44px;
    background-position: center;
}
.bx-wrapper .bx-next{
    background: url(../images/arrow-right.png) no-repeat;
    width: 44px;
    height: 44px;
    background-position: center;
}
.bx-wrapper .bx-prev {
    left: -20px;
}
.bx-wrapper .bx-next {
    right: -20px;
}
.menu-outer {
    position: fixed;
    top: 0px;
    left: 0px;
    z-index: 99;
    height: 100%;
    overflow: auto;
    display: none;
    width: 100%;
}
.inner-slider .carousel {
    padding: 0px;
    display: inline-block;
    width: 100%;
}

.carousel-item img {
    height: 720px;
    width: auto !important;
    margin: auto;
}
#product img {
    height: 600px;
}
#product2 img {
    height: 600px;
}
.view-details-btn-outer {
    display: inline-block;
    width: 100%;
    position: relative;
    bottom: 70px;
    padding: 0px 20px;
}
.view-details-btn-outer a {
    display: inline-block;
    width: 150px;
    text-align: center;
    background: #D7EA26;
    color: #000;
    border-radius: 5px;
    padding: 10px 0px;
    font-weight: 600;
}
.carousel-inner {
    overflow: visible;
}
.yes-no-inner {
  width: 227px;
  position: relative;
}
.yes-no-content {
  margin-bottom: 50px;
  width: 345px;
  display: inline-block;
}
.yes-no {
    position: absolute;
    left: 0px;
    right: 0px;
    margin: auto;
    top: 0px;
    bottom: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
  }
  .yes-btn {
    color: #fff !important;
    position: absolute;
    cursor: pointer;
    text-transform: uppercase;
    left: 35px !important;
    font-size: 20px;
    bottom: 10px !important;
    font-family: 'field_gothicno.41_light_cond';
  }
  .no-btn {
    color: #fff !important;
    position: absolute;
    cursor: pointer;
    text-transform: uppercase;
    right: 40px !important;
      font-size: 20px;
      bottom: 10px !important;
      font-family: 'field_gothicno.41_light_cond';
  }
  .carousel-control-next, .carousel-control-prev{
    height: 80px;
    margin: auto;
    opacity: 1;
    width: 40px;
  }

  .yes-no-content p{
    color: #fff;
    font-size: 16px;
    text-align: center;
  }

  .menu-bottom{
    width: 100%;
    float: left;
  }
  .menu-bottom p{
    color: #fff;
    font-size: 12px;
    text-align: center;
  }
  .menu-bottom ul{
    width: 100%;
    float: left;
    text-align: center;
  }
  .menu-bottom ul li{
    display: inline-block;
    vertical-align: middle;
  }
  .menu-bottom ul li span{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
    margin: 0px 8px;
  }
  .menu-bottom ul li a{
    display: inline-block;
    vertical-align: middle;
    color: #fff;
    font-size: 12px;
  }
  .menu-inner{
    display: flex;
    width: 100%;
    flex-direction: column;
    justify-content: space-between;
    height: calc(100% - 80px);
  }
  .iframe-out {
    display: flex;
    flex-direction: column;
    height: 100vh;
    justify-content: end;
  }
  .iframe-outer-main {
    width: 100%;
  }
  .footer.footer-page.footer-in-slider {
    width: 100%;
    z-index: 5;
  }
  .images-center {
    position: relative;
  }
  iframe {
    width: 100%;
    margin: auto;
    display: block;
    height: 100vh;
    border: none;
    background: transparent;
    margin-bottom: 0px;
  }

  .preloader-slider{
    position: fixed;
    left: 0px;
    top: 0px;
    background-color: rgba(0, 0, 0, 0.94);
    width: 100%;
    height: 100%;
    z-index: 9999;
    background-size: cover;
    background-position: center;
    padding: 5%;
  }
  .preloader-slider img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    width: 50px;
  }
  .gif-load{
    width: 50px;
  }

  .preloader{
    position: fixed;
    left: 0px;
    top: 0px;
    
    width: 100%;
    height: 100%;
    z-index: 9999;
    background: url(../images/loader-outer.jpg) no-repeat;
    background-size: cover;
    background-position: center;
    padding: 5%;
    background-color: rgba(0, 0, 0, 0.94);
  }
  .preloader img {
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
    max-width: 95%;
  }
  #loading-animation {
    border: 10px solid #f3f3f3;
    border-radius: 50%;
    border-top: 10px solid yellow;
    width: 85px;
    height: 85px;
    -webkit-animation: spin 2s linear infinite; /* Safari */
    -moz-animation: spin 2s linear infinite; /* Safari */
    animation: spin 2s linear infinite;
    position: absolute;
    left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;
    margin: auto;
  }
  
  /* Safari */
  @-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
  }
  
  @keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
  }

.mobile-video{
  display: none;
}
.do-lf {
  padding: 0px 20%;
}
.back-btn-hide {
  display: none;
}



@media screen and (min-width: 800px) {
    .text{
        padding: 0px 30%;
    }
    div#view_overlay {
        width: 100% !important;
    }
    .pop-up-bg{
        /* background: url(../images/1920-BG.jpg) no-repeat !important; */
        height: 100vh;
        width: 100%;
        position: fixed;
        top: 0px;
        left: 0px;
        z-index: 0;
        background-size: cover;
        background-position: right bottom !important;
    }
    .menu-bg.page-1{
      background: url(../images/desktop/man.jpg);
      background-size: cover;
      background-position: center;
    }
    .menu-bg.page-3{
      background: url(../images/desktop/drip-city.jpg);
      background-size: cover;
      background-position: center;
    }
    .menu-bg.page-2{
      background: url(../images/desktop/image-bg.jpg);
      background-size: cover;
      background-position: center;
    }
    .preloader{
      background: url(../images/desktop/sky.jpg);
      background-size: cover;
      background-position: center;
    }
    .carousel-control-next, .carousel-control-prev {
      width: 20%;
    }
    .carousel-control-next{
      justify-content: start;
    }
    .carousel-control-prev{
      justify-content: end;
    }
    .carousel-control-prev-icon, .carousel-control-next-icon {
      background-size: contain;
      width: 40px;
      height: 40px;
    }
    iframe{
      margin-bottom: 32px;
    }
  }

  @media screen and (min-width: 1100px) {
    .carousel-control-next, .carousel-control-prev {
      width: 30%;
    }
    .detail-pop{
      left: -600px;
    }
    #slide2-d2 {
      bottom: 60px;
    }
    #slide3-d3 {
      bottom: 112px !important;
    }
    #slide4-d3, #slide5-d3, #slide5-d4 {
      bottom: 108px !important;
    }
  }

@media screen and (max-width: 800px) {

    .inner-slider .carousel {
        padding: 0px 0px;
        display: inline-block;
        width: 100%;
    }
    .menu-ul ul li a{
        padding: 15px 0px;
        font-size: 16px;
    }
    #product img {
        height: 600px;
    }
    .carousel-item img {
        height: 720px;
        width: auto !important;
    }
    .view-details-btn-outer a{
        width: 100%;
    }
    .desktop-video{
      display: none;
    }
    .mobile-video{
      display: block;
    }
    .back-btn-hide {
      display: block;
    }
    .footer p{
      text-align: center;
    }
    .footer.footer-page ul {
      text-align: center;
    }
    
}


@media screen and (max-width: 600px) {

    #product{
        width: 100% !important;
    }
    #product img {
        height: 600px;
    }
    .carousel-item img {
        height: 720px;
        width: auto !important;
    }
    .inner-slider .carousel {
        padding: 0px 0px;
        display: inline-block;
        width: 100%;
    }

}

@media screen and (max-width: 500px) {


      .carousel-item img {
        height: 720px;
    }

}

@media screen and (max-width: 400px) {

      .carousel-item img {
        height: 580px;
    }

}

@media screen and (max-height: 800px) {
  
    #product img {
        height: 500px;
    }
    .click-style.slide1-d1 {
        left: -90px;
        top: 124px;
      }
      .click-style.slide2-d2 {
        left: -95px;
        bottom: 114px;
      }
      .click-style.slide3-d1 {
        left: 65px;
        top: 84px;
      }
      .click-style.slide3-d2 {
        left: 0px;
        top: 144px;
      }
      .click-style.slide3-d3 {
        bottom: 177px;
        left: -76px;
      }
      .click-style.slide4-d2 {
        top: 83px;
        left: -6px;
      }
      .click-style.slide5-d1 {
        left: 62px;
        top: 79px;
      }
      .click-style.slide5-d2 {
        left: -150px;
        top: 132px;
      }
      #slide3-d3 {
        bottom: 330px;
      }
      #slide2-d2 {
        bottom: 18px;
      }
      #slide2-d1 {
        bottom: 63px;
      }
      #slide4-d1, #slide4-d2 {
        bottom: 69px;
      }
      #slide5-d2, #slide5-d1 {
        bottom: 65px;
      }
      #slide5-d3, #slide5-d4 {
        bottom: 302px;
      }

}

